@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  /* gray-900 */
  color: white;
}

@keyframes scan {
  0% {
    top: 0%;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    top: 100%;
    opacity: 0;
  }
}

.scan-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: #00ff00;
  box-shadow: 0 0 10px #00ff00;
  animation: scan 2s linear infinite;
  pointer-events: none;
  z-index: 20;
}